*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #144031;
  font-family: Helvetica;
  background-color: #b4653a;
  color: #312828;
  font-size: 24px;
}

body {
  width: 600px;
  margin: 0 auto;
}

/* Text */

h1 {
  color: #a5a4a4;
  background-color: #312828;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem 1rem 2rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

p {
  font-size: .7rem;
  padding-bottom: 10px;
}

a {
  font-size: .7rem;
  color: #312828;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* Grid */
.grid {
  display: grid;
  grid-template: repeat(3, 300px) / repeat(2, 300px);
  margin: 50px 0;
}

.feed-text, .friendship-text, .fun-text {
  padding: 15px;
}

.feed-image: {
  background-image: url("");
}

.fun-image: {
  background-image: url("");
}

.friendship-image: {
  background-image: url("https://i.pinimg.com/736x/ad/e5/9f/ade59f7fbcd79d5f05bd47e0c1694afd.jpg");
}
/* Footer */

footer {
  font-size: 1rem;
  padding: 2rem 1rem;
}
