*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #144031;
  font-family: Helvetica;
  background-color: #b4653a;
  color: #312828;
  font-size: 24px;
}

body {
  width: 600px;
  margin: 0 auto;
}

/* Text */

h1 {
  color: #a5a4a4;
  background-color: #312828;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem 1rem 2rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

p {
  font-size: .7rem;
  padding-bottom: 10px;
}

a {
  font-size: .7rem;
  color: #312828;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* Grid */
.grid {
  display: grid;
  grid-template: repeat(3, 300px) / repeat(2, 300px);
}

.feed-text, .friendship-text, .fun-text {
  padding: 55px 55px;
}

.feed-image {
  background-image: url("https://media.bizj.us/view/img/12627316/fnaf-x-spinatos-photo-7x5*1200xx2000-2000-400-0.png");
  background-size: cover;
}

.fun-image {
  background-image: url("https://i.pinimg.com/736x/ad/e5/9f/ade59f7fbcd79d5f05bd47e0c1694afd.jpg");
  background-size: cover;
}

.friendship-image {
  background-image: url("https://preview.redd.it/the-fnaf-movies-halloween-horror-night-attraction-will-v0-1rmccnt58vif1.jpeg?width=1080&crop=smart&auto=webp&s=72db56377d60135c0be5ba919430fce7579b3b75");
  background-size: cover;
}
/* Footer */

.learn-more {
  background-color: #312828;
  padding: 2rem 1rem 2rem;
}

footer a {
  color: #a5a4a4;
  font-size: 0.55rem;
}
